<div class="small-12 medium-8 column subnavigation-menu smallForTitle">
  <ul class="menu"  role="menubar">
    <%= raw content_block("subnavigation_left", I18n.locale) %>
    <% if feature?(:budgets) %>
      <li role="menuitem">
        <%= layout_menu_link_to t("layouts.header.budgets"),
                                budgets_path,
                                controller_name == "budgets" || controller_name == "investments",
                                accesskey: "1",
                                title: t("shared.go_to_page") + t("layouts.header.budgets") %>
      </li>
    <% end %>
    <% if feature?(:legislation) %>
      <li role="menuitem">
        <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                controller.class.parent == Legislation,
                                accesskey: "2" %>
      </li>
    <% end %>
    <% if feature?(:proposals) %>
      <li role="menuitem">
        <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller.class == ProposalsController,
                                accesskey: "3",
                                title: t("shared.go_to_page") + t("layouts.header.proposals") %>
      </li>
    <% end %>
    <% if feature?(:debates) %>
      <li role="menuitem">
        <a href="https://transparencia.getafe.es/portalGetafe/transparencia/se_contenedor2.jsp?seccion=s_fdes_d4_v2.jsp&codbusqueda=207&language=es&codResi=1&codMenuPN=107&codMenuSN=117&codMenuTN=297&codMenu=318">
         <%= t("layouts.header.previous_audience")%>
        </a>
      </li>
    <% end %>

    <% if feature?(:polls) %>
      <li role="menubar" class="dropdown menu is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Espacios de Participación" data-is-click="false">
        <a class="dropdown"><%= t("layouts.header.participation_spaces") %></a>
        <ul class="dropdown-content" style="top: 42px;" data-submenu="" aria-hidden="true" role="menu">
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a class="subnavigation-a-width" href="https://participa.getafe.es/assemblies/assemblies?assembly_type_id=1">Asambleas  de Barrio</a></li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a class="subnavigation-a-width" href="https://participa.getafe.es/assemblies/assemblies?assembly_type_id=2">Consejo Social de Ciudad</a></li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a class="subnavigation-a-width" href="https://participa.getafe.es/assemblies/assemblies?assembly_type_id=3">Consejos y Asambleas Sectoriales</a></li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a class="subnavigation-a-width" href="https://participa.getafe.es/assemblies/assemblies?assembly_type_id=4">Normativa de Presupuestos Participativos</a></li>
        </ul>
      </li>
    <% end %>

    <% if feature?(:debates) %>
      <li role="menuitem">
        <a href="">
          <%= t("layouts.header.model")%>
        </a>
      </li>
    <% end %>

    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
